/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  padding: 30px;
  gap: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

form {
  display: flex;
  flex-direction: column;
  border: 1px solid #a9a9a9;
  padding: 20px;
}

.subtext {
  color: #a9a9a9;
  font-weight: unset;
}

#sign-in,
#sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

#sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-input-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
}

.form-checkbox-control {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.sign-in-option {
  display: normal;
}

#sign-in-form .form-submit-control {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
}

.forgot {
  display: flex;
  align-items: center;
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
  padding: 6px;
  gap: 6px;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form select {
  height: 30px;
}

.sign-in-option label{
  font-weight: normal;
}

.form-submit-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form-group-horizontal-control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
  padding: 6px;
}

.form-group-horizontal-control .form-input-control #state {
  width: 450px;
  height: 30px;
}

.form-group-horizontal-control .form-input-control #city {
  width: 450px;
  height: 30px;
}

.gender {
  padding-top: 30px;
}

.form-group-vertical-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px;
}

.form-group-vertical-control .form-radio-control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px;
} 

.form-group-vertical-control .form-radio-control label {
  font-weight: normal;
}

.forgot {
  align-items: center;
  justify-content: center;
}

.sign-up-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

